// FIXME: шрифты попадают в сборку веб-компонента, но не загружаются и не используются, завёл тред на форуме https://forum.vuejs.org/t/vue-2-web-component-doesnt-load-local-fonts-after-build/132337
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"),
  url("~@/assets/fonts/roboto-400-normal.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
  url("~@/assets/fonts/roboto-700-normal.woff2") format("woff2");
  font-display: swap;
}
