@import 'vue-select/dist/vue-select.css';

.vs {
  &__dropdown-toggle {
    border-color: $color-brand !important;
  }

  &__open-indicator,
  &__clear {
    fill: $color-brand !important;
  }

  &__search::placeholder {
    color: $color-disabled !important;
  }
}
