// FIXME: переменные из :root не работают в сборке веб-компонента, создал ишью https://github.com/sagalbot/vue-select/issues/1680
@import 'vue-select/dist/vue-select.css';

.search-form__search .vs {
  &__dropdown-toggle {
    border-color: $color-brand !important;
  }

  &__open-indicator,
  &__clear {
    fill: $color-brand !important;
  }

  &__search::placeholder {
    color: $color-disabled !important;
  }
}
