$primary-font: 'Roboto', sans-serif;

$color-default: #000000;
$color-default-2: #FFFFFF;
$color-brand: #4ECA8A;
$color-brand-lighten: #76D6A4;
$color-brand-darken: #35B171;
$color-default-background: #F0F0F0;
$color-disabled: #CCCCCC;
